---
---

@import "garth";

body, p, h1, h2, h3, h4, h5, h6, a, li, td, th {
  font-family: "Monaco", "Menlo", "Consolas", "Courier New", monospace !important;
}

code, pre {
  font-family: "Monaco", "Menlo", "Consolas", "Courier New", monospace;
}

// Hide h1 title on static pages (but not blog posts)
.article--page > h1:first-child {
  display: none !important;
}

// Site title in header
.header__title {
  font-weight: bold;
  text-decoration: none;
  margin-right: 2rem;
  font-size: 1.2rem;
}

.header .container {
  display: flex;
  align-items: center;
}