---
---
@import "garth";

body, p, h1, h2, h3, h4, h5, h6, a, li, td, th {
  font-family: "Monaco", "Menlo", "Consolas", "Courier New", monospace !important;
}

code, pre {
  font-family: "Monaco", "Menlo", "Consolas", "Courier New", monospace;
}